body{
    background-color: aqua;
}
.hinhnen{
    background: url("/static/img/sample3.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}