<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Information</h1>
    <form action="{% url 'update_process' %}">
        <table align="center">
            <tr>
                <td>Username</td>
                <input type="hidden" name="id" id="id" value="{{user.id}}">
                <td><input type="text" id="username" name="username" value="{{user.username}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email" name="email" value="{{user.email}}"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" id="password" name="password" value="{{user.password}}"></td>
            </tr>
            <tr align="center">
                <td colspan="2"><input type="submit" id="submit" name="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>